@page "/"
@using Blazored.LocalStorage

@inject ILanguageContainerService languageContainer
@inject ILocalStorageService storage 

<h1>@languageContainer.Keys["HomePage:HelloWorld"]</h1>

@languageContainer.Keys["HomePage:Welcome", new
{
    username = "aksoftware98"
}]

<div class="d-flex align-items-center">
    <img src="https://flagsapi.com/US/shiny/64.png" @onclick='() => SetLanguage("en-US")' style="width:75px;cursor:pointer;margin:10px" />
    <img src="https://flagsapi.com/DE/shiny/64.png" @onclick='() => SetLanguage("de-De")' style="width:75px;cursor:pointer;margin:10px" />
    <img src="https://flagsapi.com/ES/shiny/64.png" @onclick='() => SetLanguage("ca-ES")' style="width:75px;cursor:pointer;margin:10px" />
    <img src="https://flagsapi.com/FR/shiny/64.png" @onclick='() => SetLanguage("fr-FR")' style="width:75px;cursor: pointer;margin:10px" />
    <img src="https://flagsapi.com/IT/shiny/64.png" @onclick='() => SetLanguage("it-IT")' style="width:75px;cursor: pointer;margin:10px" />
    <img src="https://flagsapi.com/JP/shiny/64.png" @onclick='() => SetLanguage("ja-JP")' style="width:75px;cursor: pointer;margin:10px" />
    <img src="https://flagsapi.com/IN/shiny/64.png" @onclick='() => SetLanguage("ml-IN")' style="width:75px;cursor: pointer;margin:10px" />
    <img src="https://flagsapi.com/SA/shiny/64.png" @onclick='() => SetLanguage("ar-SA")' style="width:75px;cursor: pointer;margin:10px" />
    <img src="https://flagsapi.com/FI/shiny/64.png" @onclick='() => SetLanguage("fi-FI")' style="width:75px;cursor: pointer;margin:10px" />
    <img src="https://flagsapi.com/BG/shiny/64.png" @onclick='() => SetLanguage("bg-BG")' style="width:75px;cursor: pointer;margin:10px" />
</div>


<SurveyPrompt Title="@languageContainer.Keys["HomePage:Question"]" />

@code 
{
    async void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
        // Store the langauge 
        await storage.SetItemAsync<string>("language-code", language);
    }

    protected override void OnInitialized()
    {
        languageContainer.InitLocalizedComponent(this);
        base.OnInitialized();
    }

}
