@page "/"
@using Blazored.LocalStorage

@inject ILanguageContainerService languageContainer
@inject ILocalStorageService storage 

<h1>@languageContainer.Keys["HomePage:HelloWorld"]</h1>

@languageContainer.Keys["HomePage:Welcome", new
{
    username = "aksoftware98"
}]

<div class="d-flex align-items-center">
    <img src="https://countryflagsapi.com/png/us" @onclick='() => SetLanguage("en-US")' style="width:75px;cursor:pointer;margin:10px" />
    <img src="https://countryflagsapi.com/png/de" @onclick='() => SetLanguage("de-De")' style="width:75px;cursor:pointer;margin:10px" />
    <img src="https://countryflagsapi.com/png/es" @onclick='() => SetLanguage("ca-ES")' style="width:75px;cursor:pointer;margin:10px" />
    <img src="https://countryflagsapi.com/png/fr" @onclick='() => SetLanguage("fr-FR")' style="width:75px;cursor: pointer;margin:10px" />
    <img src="https://countryflagsapi.com/png/it" @onclick='() => SetLanguage("it-IT")' style="width:75px;cursor: pointer;margin:10px" />
    <img src="https://countryflagsapi.com/png/jp" @onclick='() => SetLanguage("ja-JP")' style="width:75px;cursor: pointer;margin:10px" />
    <img src="https://countryflagsapi.com/png/in" @onclick='() => SetLanguage("ml-IN")' style="width:75px;cursor: pointer;margin:10px" />
    <img src="https://countryflagsapi.com/png/sa" @onclick='() => SetLanguage("ar-SA")' style="width:75px;cursor: pointer;margin:10px" />
    <img src="https://countryflagsapi.com/png/fi" @onclick='() => SetLanguage("fi-FI")' style="width:75px;cursor: pointer;margin:10px" />
    <img src="https://countryflagsapi.com/png/bg" @onclick='() => SetLanguage("bg-BG")' style="width:75px;cursor: pointer;margin:10px" />
</div>


<SurveyPrompt Title="@languageContainer.Keys["HomePage:Question"]" />

@code 
{
    async void SetLanguage(string language)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
        // Store the langauge 
        await storage.SetItemAsync<string>("language-code", language);
    }

    protected override void OnInitialized()
    {
        languageContainer.InitLocalizedComponent(this);
        base.OnInitialized();
    }

}
