@page "/"
@inject ILanguageContainerService Language

<PageTitle>@Language["HomePage:Title"]</PageTitle>

<h1>@Language["HomePage:HelloWorld"]</h1>

@Language["HomePage:Welcome", new { username = "John Doe" }]


<div class="d-flex align-items-center">
	<img src="https://flagsapi.com/US/shiny/64.png" @onclick='() => SetLanguage("en-US")' style="width:75px;cursor:pointer;margin:10px" />
	<img src="https://flagsapi.com/DE/shiny/64.png" @onclick='() => SetLanguage("de-De")' style="width:75px;cursor:pointer;margin:10px" />
	<img src="https://flagsapi.com/ES/shiny/64.png" @onclick='() => SetLanguage("ca-ES")' style="width:75px;cursor:pointer;margin:10px" />
	<img src="https://flagsapi.com/FR/shiny/64.png" @onclick='() => SetLanguage("fr-FR")' style="width:75px;cursor: pointer;margin:10px" />
	<img src="https://flagsapi.com/IT/shiny/64.png" @onclick='() => SetLanguage("it-IT")' style="width:75px;cursor: pointer;margin:10px" />
	<img src="https://flagsapi.com/JP/shiny/64.png" @onclick='() => SetLanguage("ja-JP")' style="width:75px;cursor: pointer;margin:10px" />
	<img src="https://flagsapi.com/IN/shiny/64.png" @onclick='() => SetLanguage("ml-IN")' style="width:75px;cursor: pointer;margin:10px" />
	<img src="https://flagsapi.com/SA/shiny/64.png" @onclick='() => SetLanguage("ar-SA")' style="width:75px;cursor: pointer;margin:10px" />
	<img src="https://flagsapi.com/FI/shiny/64.png" @onclick='() => SetLanguage("fi-FI")' style="width:75px;cursor: pointer;margin:10px" />
	<img src="https://flagsapi.com/BG/shiny/64.png" @onclick='() => SetLanguage("bg-BG")' style="width:75px;cursor: pointer;margin:10px" />
</div>
<SurveyPrompt Title="@Language["HomePage:Question"]" />


@code
{
		private async void SetLanguage(string language)
		{
			await InvokeAsync(() =>
			{
				Language.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(language));
			});

		}

	protected override void OnInitialized()
	{
			Language.InitLocalizedComponent(this);
	
		base.OnInitialized();
	}
}