@page "/"
@inject ILanguageContainerService languageContainer

<h1>@languageContainer.Keys["HelloWorld"]</h1>

@languageContainer.Keys["Welcome"]

<div class="row">
    <img src="us.png" @onclick="SetEnglish" style="height:50px;cursor:pointer;margin:10px"/>
    <img src="de.png" @onclick="SetDeutsch" style="height:50px;cursor:pointer;margin:10px"/>
    <img src="es.png" @onclick="SetSpanish" style="height:50px;cursor:pointer;margin:10px"/>
    <img src="fr.png" @onclick="SetFrench" style="height: 50px;cursor: pointer;margin:10px"/>
</div>

<SurveyPrompt Title="@languageContainer.Keys["Question"]" />

@code 
{
    void SetEnglish()
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo("en-US"));
    }

    void SetDeutsch()
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo("de-DE"));
    }

    void SetSpanish()
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo("ca-ES"));
    }

    void SetFrench()
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo("fr-FR"));
    }

}
