@inherits LayoutComponentBase
@using Blazored.LocalStorage
@inject ILocalStorageService storage
@inject ILanguageContainerService language

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code
{ 


    protected async override Task OnInitializedAsync()
    {
        string languageCode = "en-US";
        if (await storage.ContainKeyAsync("language-code"))
            languageCode = await storage.GetItemAsStringAsync("language-code");

        language.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(languageCode)); 
    }

}


