@inherits LayoutComponentBase
@inject ILanguageContainerService Language
<PageTitle>@Language["NavMenu:BlazorServerLocalizationSample"]</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">@Language["NavMenu:About"]</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        Language.InitLocalizedComponent(this);
        base.OnInitialized();
    }
}