@inject ILanguageContainerService Language
<div class="alert alert-secondary mt-4" role="alert">
	<span class="oi oi-pencil mr-2" aria-hidden="true"></span>
	<strong>@Title</strong>

	<span class="text-nowrap">
		@Language.Keys["HomePage:Please"]
		<a target="_blank" class="font-weight-bold" href="https://go.microsoft.com/fwlink/?linkid=2116045">@Language.Keys["HomePage:BriefSurvey"]</a>
	</span>
	@Language.Keys["HomePage:Think"]
</div>

@code 
{
	// Demonstrates how a parent component can supply parameters
	[Parameter]
	public string? Title { get; set; }

	protected override void OnInitialized()
	{
		Language.InitLocalizedComponent(this);
	}
}